<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    
<title>Cup Cake</title>
</head>
<body>
<!-- Navbar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
           <lord-icon class="lordicon"
    src="https://cdn.lordicon.com/fyhanzjw.json"
    trigger="loop"
    colors="primary:#c79816,secondary:#a5e830">
</lord-icon><h1>Bakery</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About </a>
      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
      <a href="login" class="btn btn-light my-2 my-sm-0 mr-1" type="submit">Login</a>
      <a href="signup" class="btn btn-light my-2 my-sm-0" type="submit">Sign up</a>
    </form>
  </div>
  </nav>
  </section>
 <div class="container"> 
   <h1>Donut</h1>
   <div id="alerts"></div>
<div class="productcont">

<!--Rose cholcolate cake -->

        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_chocolate_rose.jpg}" class="product-img">
            <h3 class="productname">Rose Chocolate</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-100</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        
     
     
<!-- Chocolate muffin cake -->


        <div class="product">
        <img th:src="@{/images/cakes/cupcake_chocolate-muffins.jpg}" class="product-img">
            <h3 class="productname"> Chocolate muffin</h3>
            <p>Product description excerpt...</p>
            <p class="price">INR-40</p>
            <button class="addtocart">Add To Cart</button>
        </div>

<!-- Dark chocolate cup cake-->

        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_dark_chocolate.jpg}" class="product-img">
            <h3 class="productname">Dark Chocolate </h3>
            <p>Product description excerpt...</p>
            
<!--Price  -->            
            
            <p class="price">INR-80</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        

        

<!-- dark chocolate cupcake -->        
        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_red_berry.jpg}" class="product-img">
            <h3 class="productname">Red Berry</h3>
            <p>Product description excerpt...</p>

<!-- Dark cholate price  -->
            
            <p class="price">INR-100</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        
        
<!-- Egg less cup cake -->
        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_redvelevet.jpg}" class="product-img">
            <h3 class="productname">Red Velvet</h3>
            <p>Product description excerpt...</p>
<!-- price -->
            <p class="price">INR-60</p>
            <button class="addtocart">Add To Cart</button>
        </div>
     
     
<!-- molten cup cake -->     
     
        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_straberycupcake_2.jpg}" class="product-img">
            <h3 class="productname">Straw Berry </h3>
            <p>Product description excerpt...</p>
 
<!-- Molten cup cake Price  --> 
       
            <p class="price">INR-55</p>
            <button class="addtocart">Add To Cart</button>
        </div>

<!-- Strawberry cup cake -->
       
        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_strawberry-cream.jpg}" class="product-img">
            <h3 class="productname">Straw barry </h3>
<!-- price -->
            <p>Product description excerpt...</p>
            <p class="price">INR-70</p>
            <button class="addtocart">Add To Cart</button>
        </div>
   
   <!--Choclate cake Ganache fillin -->        
        
        <div class="product">
        	<img th:src="@{/images/cakes/cupcake_orieo.jpg}" class="product-img">
            <h3 class="productname">Orieo Cupcake</h3>
            <p>Product description excerpt...</p>

<!-- Choclate cake Ganache filling price -->        

            <p class="price">INR-180</p>
            <button class="addtocart">Add To Cart</button>
        </div>        
        
        </div>
        <div class="cart-container">
          <h2>Cart</h2>
          <table>
            <thead>
              <tr>
              <th><strong>Product</strong></th>
              <th><strong>Price</strong></th>
            </tr>
            </thead>
            <tbody id="carttable">
            </tbody>
          </table>
          <hr>
          <table id="carttotals">
            <tr>
              <td><strong>Items</strong></td>
              <td><strong>Total</strong></td>
            </tr>
            <tr>
              <td>x <span id="itemsquantity">0</span></td>
             
              <td>INR<span id="total">0</span></td>
            </tr></table>

            
          <div class="cart-buttons">  
            <button id="emptycart">Empty Cart</button>
            <a href="/checkout"><button id="checkout">Checkout</button></a>
          </div>
        </div>
</div>

  
 
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>