<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
</head>

<style>
h1{
text-align: center;
text-hieght: 800px;
text-width:700px;
}
.container{  
text-align: center;    
width: 300px;  
height: 200px;  
padding-top: 100px;  
}  
#btn{  
font-size: 50px;  
text-align:center;
}  
</style>
<body>
<form calss="error"></form>
<div><lord-icon 
    src="https://cdn.lordicon.com/tdrtiskw.json"
    trigger="loop"
    colors="primary:#121331,secondary:#08a88a"
    stroke="38"
    style="width:300px;height:300px">
</lord-icon></div>
<h1>Please check your Username OR Password</h1>
<div class="container">  
<a href="/login"><button id ="btn"> Try Again </button></a>  
</div>  
</form>
</body>
</html>